<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房屋认证</title>

    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
</head>
<body>

<div id="app">

    <table>
        <tr>
            <td>房产证号:</td>
            <td><input type="text" v-model="houseId"></td>
        </tr>
        <tr>
            <td>身份证:</td>
            <td><input type="text" v-model="id"></td>
        </tr>
    </table>

    <button v-on:click="check">认证</button>

</div>

</body>

<script>
    var vm =new Vue({
        el:'#app',
        data:{
            houseId:"1111112222223333333000000000",
            id:"211004197001010000"
        },
        methods:{
            check:function () {
                var url="http://localhost:8080/house"
                var params={"houseId":this.houseId,"id":this.id}

                this.$http.get(
                    url,
                    // params,// 如果get请求这样传参数是存在问题的
                    // get请求传递参数是下面的格式
                    {params:params},
                    {emulateJSON:true}
                ).then(
                    function (response) {
                        console.log(response)
                    },
                    function (response) {
                        console.log(response)
                    }
                )
            }
        }
    });
</script>
</html>